RewriteEngine On

# If the requested filename exists, simply serve it.
# We only want to let Apache serve files and not directories.
# Permet d'acceder au dossier "assets".
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [QSA,L]

