.panel__nav--concerts, .panel__nav--users, .panel__nav--photos, .panel__nav--extraits{
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 133, 194);
}
.panel__card--titre{
    font-weight: bold;
    font-size: 35px;
}

.panel__card--users, .panel__card--concerts, .panel__card--extraits, .panel__card--galeries, .panel__card--photos{

        .barre{
            text-align: center;
            border-top: 3px solid rgb(0, 0, 0);
            input{
                border: none;
            }
        }
    
}