@font-face {
    font-family: 'Copperplate';
    src: url('./fonts/OPTICopperplate') format('otf'),
         url('./fonts/OPTICopperplate-Light') format('otf'),
         url('./fonts/OPTICopperplate-Heavy') format('otf')
}
body{
    font-family: 'Copperplate';
}