@media (max-width: 576px) { // SM
    .concert__card--text{
        font-size: 15px !important;
    }

}

@media (max-width: 768px) { // MD
    //accueil
    .concert__img{
        img{
            display: none;
        }
    }
    .concert__card{
        height: 100px;
    }

    // groupe
    .d-none{
        display: block !important;
    }
    .displayRight{
        display: none;
    }

    // CONTACT
    .contactForm__card2{
        padding: 0rem 1rem 0rem 1rem !important;
        input{
            width: 100% !important;
        }
    }
    // CONNEXION
    .connexionForm__card2{
        padding: 0rem 1rem 0rem 1rem !important;
        input{
            width: 100% !important;
        }
    }
}

@media (max-width: 992px) { // LG
    // accueil
    .concert__card--text{
        font-size: 20px !important;
        margin-left: -50px !important;
        i{
            display: none;
        }
    }
    .extrait__card{
        flex-direction: column;
        audio{
            margin-bottom: 10px;
        }
    }

    // Gallerie
    .gallerie__card{
        img{
            padding: 10px;
        }
    }

    // CONTACT
    .contactForm__card1{
        display: none;
    }

    // CONNEXION
   .connexionForm__card1{
    display: none;
    }
    
}

