.main{
    min-height: 600px;
}
.extraits{
    min-height: 400px;
}
.concerts{
    min-height: 400px;
}

.contact{
    min-height: 200px;
}
.contactForm{
    min-height: 400px;
}
.groupe__card--portrait{
    min-height:200px;
}
.panel__nav{
    min-height: 75px;
}
.panel__card{
    min-height: 600px;
}
