.contact{
    .col-8{
        overflow: hidden;
        position: relative;
        
        .contact__titre{
            .bande{
                color: white;
                border: 1px solid white;
                background-color: white;
    
            }
        }
        .bgImg{
            opacity: 0.6;
            position: absolute;
            left: 0;
            top: 0;
            width: auto;
            height: 100%;
        }
        
    }

}

.wrap { 
    position: relative; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../imgs/banniereContact.png);
    background-size: cover;
    
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.80);

    }
    button {
        position: relative;
  }
  }
  
 