.contactForm{
    .contactForm__card2--titre{
        margin: 40px 0 20px 0;
        font-size: 35px !important;
        font-weight: bold !important;
    }
    .contactForm__card1{
        height: 600px;
        background-image: url(../imgs/banniereContactFull.jpg);
        background-size: cover;
        opacity: 0.9;

    }
    .contactForm__card2{
        background-color: white;
        color: black;
        padding: 0 4rem 0 4rem !important; //haut/droit/bas/gauche
        input{
            // border: none !important;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        
        label{
            font-size: 13px;
            font-weight: bold;
        }
        textarea{
            width: 100%;
            resize: none;
        }
    }
}