.concerts{
    img{
        height: 100px;
        margin-left: 20px;
        padding: 5px 0px 5px 0px; //haut/droit/bas/gauche
    }
    .concert__card--text{
        font-size: 25px;
        margin-left: -180px;
    }
    .concert__card--btn{
        margin-right: 50px;
    }
    .concert__titre{
        font-size: 20px;
        .bande{
            color: white;
            border: 1px solid white;
            background-color: white;

        }
        margin-bottom: 20px;
    }
}