.gallerie__mainTitre{
    font-size: 35px;
    font-weight: bold;
}
.gallerie__card{
    img{
        height: 200px;
    }
}
.gallerie__titre{
    font-size: 25px;
    font-weight: bold;
    color: black;
    height: 100px;
}