li{
    margin: auto 15px auto 15px; //haut/droit/bas/gauche
    a{
        color: white !important;
        font-size: 20px !important;
        
        &.active{
            text-decoration: underline;
        }
        &:hover{
            font-style: italic;
        }
    }
}
.nav1 {
    a {
        img{
            height: 50px;
        }
    }
}


